# VAST Challenge 2019: Disaster at St. Himark!

St. Himark is a beautiful community located at the Ocenaus sea. It is a small community with almost everything it needs to sustain a spirited civilization. St. Himark is primarily powered by the Always Safe Nuclear Power Plant. This was true until the disaster struck. Now, Mayor Jordan, city officials, and emergency services are overwhelmed and are desperate for assistance in understanding the true situation on the ground and how best to deploy the limited resources available to this relatively small community.

## Mini-Challenge 1

In a prescient move of community engagement, the city had released a new damage reporting mobile application, 'RUMBLE', that allows citizens to report damages that they see in their neighborhood. 
The challenge is to use app responses in conjunction with shake maps of the earthquake strength to identify areas of concern and advise emergency planners respond to damages more efficiently. 

### Data Description
The data for MC1 is included in the 'mc1-reports-data.csv' CSV file that spans over the entire length of the event. It is consisted of categorical reports of shaking/damage to the neighborhood over time. 

#### Data Fields:
* Time: Timestamp of incoming reports. Format: YYYY-MM-DD hh:mm:ss
* Location: Neighborhood id, 1 through 19, representing different cities in St. Himark, where damage is reported.
* Shake_intensity, Sewer&Water, Power, Roads&Bridges, Medical, Buildings: Reported damage extent. 0 -> lowest, 10 -> highest

_Missing data is allowed_

### Data Cleaning
Since the given csv file has certain missing files and other irregularities, the data must be cleaned for the ease of visualization and analysis. Python Pandas to the rescue! Using Python Pandas, the data is re-structured to achieve optimum visualization and analysis.

In [101]:
# Import all necessary packages

import numpy as np
import pandas as pd
import math

print("Import Success!")

Import Success!

Once the required packages are imported successfully, the next step is to read the csv file. This task is simplified thanks to pandas. **pd.read_csv** reads the csv file into a panda data frame. 

The **df.head()** function is used to see the first 5 entries in the data frame, making sure that the data was read correctly.

In [102]:
# Reading the RAW data file
df = pd.read_csv("mc1-reports-data.csv")
df_avg = df.copy() # To replace NaN's with Average
display(df.head())
display(df.describe())

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
0,2020-04-08 17:50:00,10.0,6.0,10.0,3.0,8.0,NaN,1
1,2020-04-09 13:50:00,2.0,10.0,0.0,8.0,4.0,0.0,1
2,2020-04-09 00:20:00,7.0,10.0,10.0,9.0,10.0,0.0,1
3,2020-04-08 17:25:00,1.0,1.0,2.0,10.0,7.0,NaN,1
4,2020-04-08 02:50:00,9.0,7.0,1.0,6.0,9.0,NaN,1

,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
count,82899.000000,83070.000000,83070.000000,35629.000000,82900.000000,70926.000000,83070.000000
mean,5.649139,6.045371,5.743289,5.322687,4.744005,2.682641,8.978488
std,2.787791,2.851951,2.506399,2.527679,2.256358,1.935366,5.123608
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,4.000000,4.000000,4.000000,3.000000,1.000000,4.000000
50%,6.000000,7.000000,6.000000,6.000000,5.000000,2.000000,8.000000
75%,8.000000,8.000000,7.000000,7.000000,6.000000,4.000000,14.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,19.000000

In [103]:
# Indexing a data frame

df_avg["index"] = df.index
df_avg.head()

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location,index
0,2020-04-08 17:50:00,10.0,6.0,10.0,3.0,8.0,NaN,1,0
1,2020-04-09 13:50:00,2.0,10.0,0.0,8.0,4.0,0.0,1,1
2,2020-04-09 00:20:00,7.0,10.0,10.0,9.0,10.0,0.0,1,2
3,2020-04-08 17:25:00,1.0,1.0,2.0,10.0,7.0,NaN,1,3
4,2020-04-08 02:50:00,9.0,7.0,1.0,6.0,9.0,NaN,1,4

The **df.describe()** function does a priliminary analysis of all the data present in the csv file. This can be used to compare and analyze the information in the later stages. We can note that the the count of the data fields are not the same. Ideally, every entry will have some value, thus making the count for all the entries to be the same. Unqual count indicates some missing values. This can be sean in the **df.head()** output. Some values are 'NaN'.

In [104]:
print("Total Rows and Columns in the data Frame: ", df.shape)

print("\nTotal number of missing Values")
df.isnull().sum()

Total Rows and Columns in the data Frame:  (83070, 8)

Total number of missing Values

time                     0
sewer_and_water        171
power                    0
roads_and_bridges        0
medical              47441
buildings              170
shake_intensity      12144
location                 0
dtype: int64

Out of the 83070 entries, we can see that shake_intensity field has 12144 missing data. Similarly medical, buildings and the rest of the fields have certain amopunt of missing data. 

Let us start off by replacing all the 'NaN' values to zero

In [105]:
# Convert all column title into python list
cols = df.columns.tolist()

# replace 'NaN' in every cols entry
for c in cols:
    df[c].fillna(0.00, inplace=True)
    
display(df.head())
print("\nTotal number of missing Values")
display(df.isnull().sum())

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
0,2020-04-08 17:50:00,10.0,6.0,10.0,3.0,8.0,0.0,1
1,2020-04-09 13:50:00,2.0,10.0,0.0,8.0,4.0,0.0,1
2,2020-04-09 00:20:00,7.0,10.0,10.0,9.0,10.0,0.0,1
3,2020-04-08 17:25:00,1.0,1.0,2.0,10.0,7.0,0.0,1
4,2020-04-08 02:50:00,9.0,7.0,1.0,6.0,9.0,0.0,1

Total number of missing Values

time                 0
sewer_and_water      0
power                0
roads_and_bridges    0
medical              0
buildings            0
shake_intensity      0
location             0
dtype: int64

In the above cell, it can be observed that all the 'NaN' or the missing values have been replaced by zero.

Next, we will split the 'time' field. The 'time' field has both data and time entered together. Splitting them up into different fileds

In [106]:
# Split 'time' into 'Date' and 'Time' 
df['Date'] = pd.to_datetime(df['time']).dt.date
df['Time'] = pd.to_datetime(df['time']).dt.time

#display(df.head(5))

# Drop the old 'time' column
df.drop(columns = ['time'], inplace=True)

#display(df.head(5))

In [107]:
# Rearrage the columns

# List of all remaining columns
cols = df.columns.tolist()
# Move the Last 2 columns to first
cols = cols[-2:] + cols[:-2]
df = df[cols]

display(df.head())
display(df.tail())

,Date,Time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
0,2020-04-08,17:50:00,10.0,6.0,10.0,3.0,8.0,0.0,1
1,2020-04-09,13:50:00,2.0,10.0,0.0,8.0,4.0,0.0,1
2,2020-04-09,00:20:00,7.0,10.0,10.0,9.0,10.0,0.0,1
3,2020-04-08,17:25:00,1.0,1.0,2.0,10.0,7.0,0.0,1
4,2020-04-08,02:50:00,9.0,7.0,1.0,6.0,9.0,0.0,1

,Date,Time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
83065,2020-04-10,02:30:00,9.0,10.0,10.0,0.0,7.0,2.0,8
83066,2020-04-10,02:30:00,8.0,10.0,10.0,0.0,7.0,1.0,8
83067,2020-04-09,16:45:00,10.0,9.0,10.0,0.0,8.0,1.0,8
83068,2020-04-09,16:55:00,8.0,8.0,9.0,0.0,7.0,0.0,8
83069,2020-04-10,02:30:00,9.0,10.0,10.0,0.0,6.0,-0.0,8

Now that the data cleaned to a satisfactory degree, we will save it for further use.

In [108]:
df['Time'].head()

0    17:50:00
1    13:50:00
2    00:20:00
3    17:25:00
4    02:50:00
Name: Time, dtype: object

In [109]:
#Saving cleaned data set
df.to_csv("MC1_Clean.csv")

# Replacing Missing Values with Mean / Averages 

Replacing the missing values with zeros brings down the total average by a big margin. Would replacing all the missing values with the average / mean of the respective category give better results? Lets find out.

In [123]:
split_loc = [ loc for location, loc in df_avg.groupby('location')]
split_loc[15].tail()

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location,index
79109,2020-04-09 18:15:00,8.0,4.0,4.0,4.0,3.0,NaN,16,79109
79110,2020-04-09 15:20:00,7.0,4.0,5.0,3.0,4.0,NaN,16,79110
79111,2020-04-09 17:40:00,8.0,5.0,6.0,5.0,5.0,NaN,16,79111
79112,2020-04-09 16:00:00,7.0,4.0,4.0,5.0,4.0,NaN,16,79112
79113,2020-04-09 15:15:00,9.0,4.0,4.0,5.0,3.0,NaN,16,79113

In [124]:
for l in range(len(split_loc)):
    print("location = ", l+1)
    display(split_loc[l].isnull().sum())
    
col_avg = df_avg.columns.tolist()
print(col_avg)

location =  1

time                   0
sewer_and_water        0
power                  0
roads_and_bridges      0
medical                0
buildings              0
shake_intensity      889
location               0
index                  0
dtype: int64

location =  2

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              5294
buildings               0
shake_intensity       974
location                0
index                   0
dtype: int64

location =  3

time                   0
sewer_and_water        0
power                  0
roads_and_bridges      0
medical                0
buildings              0
shake_intensity      770
location               0
index                  0
dtype: int64

location =  4

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              2867
buildings               0
shake_intensity       225
location                0
index                   0
dtype: int64

location =  5

time                   0
sewer_and_water        0
power                  0
roads_and_bridges      0
medical                0
buildings              0
shake_intensity      374
location               0
index                  0
dtype: int64

location =  6

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical                 0
buildings               0
shake_intensity      1062
location                0
index                   0
dtype: int64

location =  7

time                   0
sewer_and_water      171
power                  0
roads_and_bridges      0
medical              172
buildings            170
shake_intensity        9
location               0
index                  0
dtype: int64

location =  8

time                     0
sewer_and_water          0
power                    0
roads_and_bridges        0
medical              13654
buildings                0
shake_intensity        895
location                 0
index                    0
dtype: int64

location =  9

time                   0
sewer_and_water        0
power                  0
roads_and_bridges      0
medical                0
buildings              0
shake_intensity      870
location               0
index                  0
dtype: int64

location =  10

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              2178
buildings               0
shake_intensity       278
location                0
index                   0
dtype: int64

location =  11

time                   0
sewer_and_water        0
power                  0
roads_and_bridges      0
medical                0
buildings              0
shake_intensity      193
location               0
index                  0
dtype: int64

location =  12

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              3411
buildings               0
shake_intensity       246
location                0
index                   0
dtype: int64

location =  13

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              1205
buildings               0
shake_intensity       750
location                0
index                   0
dtype: int64

location =  14

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              6344
buildings               0
shake_intensity       429
location                0
index                   0
dtype: int64

location =  15

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              4654
buildings               0
shake_intensity      1074
location                0
index                   0
dtype: int64

location =  16

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical                 0
buildings               0
shake_intensity      2166
location                0
index                   0
dtype: int64

location =  17

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              1693
buildings               0
shake_intensity       191
location                0
index                   0
dtype: int64

location =  18

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              4476
buildings               0
shake_intensity       357
location                0
index                   0
dtype: int64

location =  19

time                    0
sewer_and_water         0
power                   0
roads_and_bridges       0
medical              1493
buildings               0
shake_intensity       392
location                0
index                   0
dtype: int64

['time', 'sewer_and_water', 'power', 'roads_and_bridges', 'medical', 'buildings', 'shake_intensity', 'location', 'index']

In [125]:
# Find columnwise average
col_mean = []
lim = len(split_loc)

for l in range(lim): 
    col_mean.append( split_loc[l].mean(skipna = True) )


print(col_mean[0])

for l in range(lim):
    for c in col_avg:
        if c != 'time':
            print("the mean ", c, " for location", int(col_mean[l][-2]), " is: \n ", col_mean[l][c])

sewer_and_water          4.740072
power                    4.759326
roads_and_bridges        4.867629
medical                  4.974729
buildings                4.904934
shake_intensity          0.708926
location                 1.000000
index                29867.622744
dtype: float64
the mean  sewer_and_water  for location 1  is:
  4.740072202166065
the mean  power  for location 1  is:
  4.759326113116727
the mean  roads_and_bridges  for location 1  is:
  4.8676293622142
the mean  medical  for location 1  is:
  4.974729241877256
the mean  buildings  for location 1  is:
  4.904933814681107
the mean  shake_intensity  for location 1  is:
  0.7089262613195343
the mean  location  for location 1  is:
  1.0
the mean  index  for location 1  is:
  29867.62274368231
the mean  sewer_and_water  for location 2  is:
  3.413543599257885
the mean  power  for location 2  is:
  4.313543599257885
the mean  roads_and_bridges  for location 2  is:
  4.779777365491651
the mean  medical  for location 2  is:
  5.0
the mean  buildings  for location 2  is:
  1.9601113172541744
the mean  shake_intensity  for location 2  is:
  1.5459692028985508
the mean  location  for location 2  is:
  2.0
the mean  index  for location 2  is:
  23096.415584415583
the mean  sewer_and_water  for location 3  is:
  7.275434059844847
the mean  power  for location 3  is:
  8.461396379756188
the mean  roads_and_bridges  for location 3  is:
  7.267085334318434
the mean  medical  for location 3  is:
  7.0552641300332475
the mean  buildings  for location 3  is:
  5.8319911340967865
the mean  shake_intensity  for location 3  is:
  4.866980023501763
the mean  location  for location 3  is:
  3.0
the mean  index  for location 3  is:
  37196.98995197636
the mean  sewer_and_water  for location 4  is:
  5.468653648509764
the mean  power  for location 4  is:
  4.224049331963001
the mean  roads_and_bridges  for location 4  is:
  4.213771839671121
the mean  medical  for location 4  is:
  5.423076923076923
the mean  buildings  for location 4  is:
  3.6920178143199727
the mean  shake_intensity  for location 4  is:
  4.619896065330364
the mean  location  for location 4  is:
  4.0
the mean  index  for location 4  is:
  43055.63788968825
the mean  sewer_and_water  for location 5  is:
  4.205263157894737
the mean  power  for location 5  is:
  5.065497076023392
the mean  roads_and_bridges  for location 5  is:
  4.083625730994152
the mean  medical  for location 5  is:
  2.110526315789474
the mean  buildings  for location 5  is:
  3.4947368421052634
the mean  shake_intensity  for location 5  is:
  0.6646706586826348
the mean  location  for location 5  is:
  5.0
the mean  index  for location 5  is:
  28421.961403508772
the mean  sewer_and_water  for location 6  is:
  2.937974683544304
the mean  power  for location 6  is:
  3.062974683544304
the mean  roads_and_bridges  for location 6  is:
  3.318987341772152
the mean  medical  for location 6  is:
  3.306012658227848
the mean  buildings  for location 6  is:
  3.516139240506329
the mean  shake_intensity  for location 6  is:
  1.15395614871306
the mean  location  for location 6  is:
  6.0
the mean  index  for location 6  is:
  27219.26993670886
the mean  sewer_and_water  for location 7  is:
  8.5
the mean  power  for location 7  is:
  7.838150289017341
the mean  roads_and_bridges  for location 7  is:
  5.91907514450867
the mean  medical  for location 7  is:
  6.0
the mean  buildings  for location 7  is:
  5.666666666666667
the mean  shake_intensity  for location 7  is:
  4.664634146341464
the mean  location  for location 7  is:
  7.0
the mean  index  for location 7  is:
  29853.664739884392
the mean  sewer_and_water  for location 8  is:
  7.499748002015984
the mean  power  for location 8  is:
  7.4577723378212974
the mean  roads_and_bridges  for location 8  is:
  7.65829073367413
the mean  medical  for location 8  is:
  5.174468085106383
the mean  buildings  for location 8  is:
  5.781985744114047
the mean  shake_intensity  for location 8  is:
  1.632445744189626
the mean  location  for location 8  is:
  8.0
the mean  index  for location 8  is:
  45439.20908632731
the mean  sewer_and_water  for location 9  is:
  7.456002728512961
the mean  power  for location 9  is:
  5.726352887676216
the mean  roads_and_bridges  for location 9  is:
  6.591291496134606
the mean  medical  for location 9  is:
  5.184970441109595
the mean  buildings  for location 9  is:
  6.1684856753069575
the mean  shake_intensity  for location 9  is:
  1.08036840777189
the mean  location  for location 9  is:
  9.0
the mean  index  for location 9  is:
  48105.96975898136
the mean  sewer_and_water  for location 10  is:
  5.676909173068233
the mean  power  for location 10  is:
  7.6181653863533665
the mean  roads_and_bridges  for location 10  is:
  5.950293718933574
the mean  medical  for location 10  is:
  4.8
the mean  buildings  for location 10  is:
  6.351558969724356
the mean  shake_intensity  for location 10  is:
  1.5700258397932816
the mean  location  for location 10  is:
  10.0
the mean  index  for location 10  is:
  36483.71034794397
the mean  sewer_and_water  for location 11  is:
  6.289029535864979
the mean  power  for location 11  is:
  7.6951476793248945
the mean  roads_and_bridges  for location 11  is:
  4.981715893108298
the mean  medical  for location 11  is:
  3.8442334739803092
the mean  buildings  for location 11  is:
  4.963783403656821
the mean  shake_intensity  for location 11  is:
  2.5601659751037342
the mean  location  for location 11  is:
  11.0
the mean  index  for location 11  is:
  42028.38994374121
the mean  sewer_and_water  for location 12  is:
  3.182789488882472
the mean  power  for location 12  is:
  5.58619693907017
the mean  roads_and_bridges  for location 12  is:
  4.039849841178169
the mean  medical  for location 12  is:
  5.326923076923077
the mean  buildings  for location 12  is:
  3.14034074501877
the mean  shake_intensity  for location 12  is:
  4.397575380789555
the mean  location  for location 12  is:
  12.0
the mean  index  for location 12  is:
  44625.398498411785
the mean  sewer_and_water  for location 13  is:
  3.8898858075040783
the mean  power  for location 13  is:
  3.2438825448613375
the mean  roads_and_bridges  for location 13  is:
  4.1590538336052205
the mean  medical  for location 13  is:
  4.0
the mean  buildings  for location 13  is:
  4.041598694942904
the mean  shake_intensity  for location 13  is:
  2.46218487394958
the mean  location  for location 13  is:
  13.0
the mean  index  for location 13  is:
  47334.152528548126
the mean  sewer_and_water  for location 14  is:
  6.125836055374086
the mean  power  for location 14  is:
  6.256494011510344
the mean  roads_and_bridges  for location 14  is:
  6.2723596204697465
the mean  medical  for location 14  is:
  4.741176470588235
the mean  buildings  for location 14  is:
  4.724062840255094
the mean  shake_intensity  for location 14  is:
  3.4445
the mean  location  for location 14  is:
  14.0
the mean  index  for location 14  is:
  47063.36133146679
the mean  sewer_and_water  for location 15  is:
  3.534573905688306
the mean  power  for location 15  is:
  3.14125607950941
the mean  roads_and_bridges  for location 15  is:
  3.5770776062592513
the mean  medical  for location 15  is:
  5.533333333333333
the mean  buildings  for location 15  is:
  3.0803552548107422
the mean  shake_intensity  for location 15  is:
  2.2098495212038305
the mean  location  for location 15  is:
  15.0
the mean  index  for location 15  is:
  40699.08500740114
the mean  sewer_and_water  for location 16  is:
  5.1828298887122415
the mean  power  for location 16  is:
  3.6273449920508742
the mean  roads_and_bridges  for location 16  is:
  4.171383147853736
the mean  medical  for location 16  is:
  3.6149443561208265
the mean  buildings  for location 16  is:
  3.349443561208267
the mean  shake_intensity  for location 16  is:
  1.150153217568948
the mean  location  for location 16  is:
  16.0
the mean  index  for location 16  is:
  57711.3586645469
the mean  sewer_and_water  for location 17  is:
  1.9102489866821077
the mean  power  for location 17  is:
  5.89171974522293
the mean  roads_and_bridges  for location 17  is:
  5.874348581354951
the mean  medical  for location 17  is:
  4.588235294117647
the mean  buildings  for location 17  is:
  3.294151708164447
the mean  shake_intensity  for location 17  is:
  1.6302083333333333
the mean  location  for location 17  is:
  17.0
the mean  index  for location 17  is:
  47538.41111754488
the mean  sewer_and_water  for location 18  is:
  3.3564356435643563
the mean  power  for location 18  is:
  6.025962596259626
the mean  roads_and_bridges  for location 18  is:
  4.056985698569857
the mean  medical  for location 18  is:
  4.550724637681159
the mean  buildings  for location 18  is:
  4.980858085808581
the mean  shake_intensity  for location 18  is:
  3.518863419293219
the mean  location  for location 18  is:
  18.0
the mean  index  for location 18  is:
  48623.12167216722
the mean  sewer_and_water  for location 19  is:
  2.7485148514851487
the mean  power  for location 19  is:
  2.9122112211221123
the mean  roads_and_bridges  for location 19  is:
  2.887788778877888
the mean  medical  for location 19  is:
  5.2272727272727275
the mean  buildings  for location 19  is:
  3.54983498349835
the mean  shake_intensity  for location 19  is:
  1.9741763134461265
the mean  location  for location 19  is:
  19.0
the mean  index  for location 19  is:
  39940.644224422445

In [138]:
for l in range(lim):
    for c in col_avg:
        if c != 'time':
            split_loc[l][c].fillna(col_mean[l][c], inplace=True)

In [139]:
# for l in range(len(split_loc)):
#     display(split_loc[l].isnull().sum())
    
df_avg1 = df_avg.copy()
display(df_avg1.isnull().sum())
display(df_avg.isnull().sum())

time                     0
sewer_and_water        171
power                    0
roads_and_bridges        0
medical              47441
buildings              170
shake_intensity      12144
location                 0
index                    0
dtype: int64

time                     0
sewer_and_water        171
power                    0
roads_and_bridges        0
medical              47441
buildings              170
shake_intensity      12144
location                 0
index                    0
dtype: int64

In [140]:
df_new = pd.concat(split_loc)
df_new.isnull().sum()

display(df_new.size)
display(df_avg.size)

#Before Sorting

display(df_avg.iloc[1234])
display(df_new.iloc[1234])

747630

747630

time                 2020-04-06 18:05:00
sewer_and_water                        6
power                                  7
roads_and_bridges                      5
medical                              NaN
buildings                             10
shake_intensity                      NaN
location                               2
index                               1234
Name: 1234, dtype: object

time                 2020-04-08 09:55:00
sewer_and_water                        8
power                                 10
roads_and_bridges                      7
medical                                6
buildings                              9
shake_intensity                 0.708926
location                               1
index                              50921
Name: 50921, dtype: object

In [141]:
#Sort by index

df_new.sort_values(by=['index'], inplace=True)
df_avg.sort_values(by=['index'], inplace=True)

In [142]:
x = 25966
print("OLD DATAFRAME:")
display(df_avg.iloc[x])

print("NEW DATAFRAME:")
display(df_new.iloc[x])

print("Average:")
display(col_mean[2])

OLD DATAFRAME:

time                 2020-04-08 11:00:00
sewer_and_water                        7
power                                  7
roads_and_bridges                      7
medical                              NaN
buildings                              5
shake_intensity                        2
location                               8
index                              25966
Name: 25966, dtype: object

NEW DATAFRAME:

time                 2020-04-08 11:00:00
sewer_and_water                        7
power                                  7
roads_and_bridges                      7
medical                          5.17447
buildings                              5
shake_intensity                        2
location                               8
index                              25966
Name: 25966, dtype: object

Average:

sewer_and_water          7.275434
power                    8.461396
roads_and_bridges        7.267085
medical                  7.055264
buildings                5.831991
shake_intensity          4.866980
location                 3.000000
index                37196.989952
dtype: float64


# Extra codes used for convinience

In [ ]:
#Finding out all the different values in shake intensity column
sh_int_uniq = df[cols[7]].unique()

print( sorted(sh_int_uniq))

In [ ]:
print(cols[8])
unique_loc = df[cols[8]].unique()
print(unique_loc)

In [ ]:
loc7 = (df['location']==7)
loc7_abs = df[loc7][df['medical']!=0]

In [ ]:
loc7_abs.head()

In [ ]:
df[loc7].head()

In [ ]:
df[loc7].mean()

In [ ]:
loc1 = (df['location']==1)
df[loc1].describe()

In [ ]:
loc4 = (df['location']==4)
loc4_abs = df[loc4][df['medical']!=0]
loc4_abs.head()

In [ ]:
len(loc4)

In [ ]:
len(loc4) - len(loc4_abs)

In [ ]:
df[loc4].mean()

In [ ]:
loc4_abs['medical'].mean()

In [ ]:
type(loc4)

In [ ]:
type(loc4_abs)

In [ ]:
# To print df in terminal without losing the format

pd.set_option('expand_frame_repr', False)
pd.set_option('display.max_columns', 999)

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df['Date']